@import '../../../../styles/variables.scss';

:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.8px;
}

.title-container {
  background-color: $Overlay;
  padding: 0 30px;
  width: 100%;
  overflow: hidden;

  .greeting {
    display: block;
    font-size: 60px;
  }
  .sub-heading {
    display: block;
    font-size: 20px;
    padding-bottom: 15px;
  }
}
